.restaurant-menu {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
   
}

/* Main section */
.main-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    background-color: #303030;
    color: #fff;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Adjust for larger screens */
@media (min-width: 768px) {
    .main-section {
        flex-direction: row;
    }
}

.main-section-left {
    width: 100%;
    max-width: 230px;
}

.res-menu-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.main-section-right {
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.res-menu-rating {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    
}

.icon {
    color: #eaeaea;
}

/* Accordion Container */
.accordion-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}
