.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.08);
    height: 80px;
}

.logo {
    width: 65px;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-items {
    display: flex;
    width: 480px;
    justify-content: space-around;
    align-items: center;
}

.nav-items-list {
    padding: 12px;
}

.item {
    font-size: 16px;
    font-weight: 550;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: rgba(45, 42, 42, 0.95);
}

.item:hover {
    background-color: var(--orange-color);
    color: #fff;
}

.login-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    color: #fff;
    background-color: var(--green-color);
    cursor: pointer;
    font-weight: 550;
}

@media (max-width: 650px) {
    .nav-items {
        display: none;
    }
}
