/* General Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.logo {
    width: 65px;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

/* Navigation items */
.nav-items {
    display: flex;
    width: 480px;
    justify-content: space-around;
    align-items: center;
}

.nav-items-list {
    padding: 12px;
    
}

.item {
    font-size: 16px;
    font-weight: 550;
    margin-left: 10px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    /* color: rgba(45, 42, 42, 0.95); */
    color: #606060
}
.item-c{
   font-size: 16px;
   
   
}
.iteem{
    font-size: 18px;
}

.item:hover {
    background-color: var(--orange-color);
    color: #fff;
}

/* Login/logout button styles */
.login-btn, .logout-btn {
    padding: 10px 17px;
    border: none;
    border-radius: 9px;
    color: #fff;
    cursor: pointer;
    font-weight: 550;
    width: 82px;
}

.login-btn {
    background-color: var(--green-color);
}

.logout-btn {
    background-color: var(--orange-color);
}

.login-btn:hover, .logout-btn:hover {
    transform: scale(1.01);
}

/* Burger menu styling */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s ease;
    border-radius: 10px;    
}

/* Responsive styles */
@media (max-width: 650px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #fff;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .nav-items.open {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
}
